@charset "UTF-8";

body {
	font-family: BIZ UDPゴシック;
	background-color: rgb(249, 254, 203);
	text-align: center;
}

h1 {
	font-size: 32px;
    color: rgb(94, 94, 94);
}

h2 {
	font-size: 28px;
	background-color: rgb(94, 94, 94);
	color: white;
	padding-top: 6px;
	padding-bottom: 6px;
}

/* 通常のボタン */
.btn {
	border: 2px solid rgb(128, 128, 128);
	padding: 4px 20px;
	font-size: 20px;
	color: rgb(128, 128, 128);
	cursor:pointer;
}

.btn:hover {
  color: #fff;
  background: rgb(128, 128, 128);
}

/* コメント入力の幅 */
input.comment {
	width: 400px;
}

.error-msg {
    color: rgb(255, 128, 128);
}
table {
	border: 1px solid #5e696c;
	margin-left: auto;
	margin-right: auto;
	width: 80%; 					/* テーブル横幅 */
	border-collapse:  collapse; 	/* 境界線を共有 */
}

th {
	border: 1px solid #5e696c;
    text-align:center;
    background-color: rgb(192, 192, 192);/* 表の上のところ */
    height: 32px;
}

td {
	border: 1px solid #5e696c;
	text-align: center;
	height: 24px;
}

.restaurant-list {
    background-color: rgb(249, 254, 203);
}
/* テーブル内ボタン */
.tbtn {
	border: 2px solid rgb(128, 128, 0); /* ボタンの枠の色 */
	padding: 2px 10px;
	font-size: 16px;
	color: rgb(128, 128, 0); /* ボタンの文字 */
	cursor:pointer;
}

.tbtn:hover {
  color: #fff;
  background: rgb(128, 128, 0);
}

/* 確認画面用 */
.confirm-table {
    background-color: #e5d8e8;
	width: 50%; 					/* テーブル横幅 */
}

.confirm-table .guide {
	width: 30%; 					/* ガイド横幅 */
}

.confirm-table td {
    text-align:left;
}
.review-list {
    background-color: #afeeee;
}
/* お気に入りボタン */
.favorite-btn {
    font-size: 22px;
    color: #888;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px;
}

.favorite-btn:hover {
    color: rgb(255, 128, 128);
}

