<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${categoryName} + ' の検索結果'">カテゴリ検索結果</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:if="${recipeList} != null">
    <h2 th:text="${categoryName} + ' の検索結果'">カテゴリ検索結果</h2>

    <table class="recipet-list">
        <tr>
           <th>料理名</th><th>キャッチフレーズ</th>
        </tr>

        <tr th:each="recipe : ${recipeList}">
            
			<td>
				 <a th:href="@{/recipe-detail(recipeId=${recipe.recipeId})}"
					 th:text="${recipe.recipeName}"></a>
			</td>
            <td th:text="${recipe.recipeName}"></td>
            <td th:text="${recipe.catchPhrase}"></td>
        </tr>
    </table>
</div>
<a th:href="@{/home}">ホームに戻る</a>
</body>
</html>
