<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レビュー削除確認</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<h2>レビュー削除確認</h2>

	<table class="confirm-table" th:object="${registRviewForm}">
		
		<tr>
		 	<td class="guide">【レシピID】</td>
			<td th:text="*{recipeId}"></td>
		</tr>
		<tr>
			<td class="guide">【ユーザーネーム】</td>
			<td th:text="*{userName}"></td>
		</tr>
		<tr>
			<td class="guide">【投稿日】</td>
			<td th:text="*{postDate}"></td>
		</tr>
		<tr>
			<td class="guide">【美味しさ】</td>
			<td th:text="*{deliciousness}"></td>
		</tr>
		<tr>
			<td class="guide">【簡単さ】</td>
			<td th:text="*{difficulty}"></td>
		</tr>
		<tr>
			<td class="guide">【時短】</td>
			<td th:text="*{quickly}"></td>
		</tr>
	</table>
	<br>
	
    <form th:action="@{/confirm-regist-recipe}" method="POST"
			th:object="${registRecipeForm}">
    	<input type="hidden" th:field="*{recipeId}">
    	<input type="hidden" th:field="*{userName}">
    	<input type="hidden" th:field="*{postDate}">
    	<input type="hidden" th:field="*{deliciousness}">
    	<input type="hidden" th:field="*{difficulty}">
		<input type="hidden" th:field="*{quickly}">
    	<input type="submit" value="削除する" class="btn">
   	</form>

    <form th:action="@{/show-recipe-form-ret}" method="POST"
			th:object="${registRecipeForm}">
			<input type="hidden" th:field="*{recipeId}">
			<input type="hidden" th:field="*{userName}">
			<input type="hidden" th:field="*{postDate}">
			<input type="hidden" th:field="*{deliciousness}">
			<input type="hidden" th:field="*{difficulty}">
    	    <input type="hidden" th:field="*{quickly}" class="btn">
    	<input type="submit" value="もどる" class="btn">
   	</form>

</body>
</html>			