<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レシピの編集</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<h2>レシピの編集</h2>

    <form th:action="@{/show-edit-form}" method="POST" 
    		th:object="${RecipeEditForm}">
		
    	【ユーザーネーム】<br>
    	<input type="text" th:field="*{userName}"><br>
    	<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error-msg"></div>
		<br>
		【料理名】<br>
		<input type="text" th:field="*{recipeName}" class="recipeName" ><br>
		<div th:if="${#fields.hasErrors('recipeName')}" th:errors="*{recipeName}" class="error-msg"></div>
		<br>
		【キャッチフレーズ】<br>
		<input type="text" th:field="*{catchPhrase}"><br>
		<div th:if="${#fields.hasErrors('catchPhrase')}" th:errors="*{catchPhrase}" class="error-msg"></div>
		<br>
    	【カテゴリ】(1-5)<br>
    	<select th:field="*{category}">
		<option value="0">選択してください。</option>
		<option value="1">包丁を使わない料理</option>
		<option value="2">火を使わない料理</option>
		<option value="3">冷凍保存可能な料理</option>
		</select><br>
    	<div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="error-msg"></div>
		<br>
    	【つくり方】<br>
    	<input type="text" th:field="*{howTo}" class="howTo" ><br>
    	<div th:if="${#fields.hasErrors('howTo')}" th:errors="*{howTo}" class="error-msg"></div>
		<br>
		【更新日】<br>
		<input type="date" th:field="*{postDate}"><br>
		<div th:if="${#fields.hasErrors('postDate')}" th:errors="*{postDate}" class="error-msg"></div>
		<br>
    	<input type="submit" value="更新する" class="btn">
    </form>

	<br>
	<a th:href="@{/home}">ホームに戻る</a>

</body>
</html>