<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <h2>ログイン</h2>

    <form th:action="@{/login}" method="post" th:object="${loginForm}" novalidate>

        【Email】<br>
        <input type="text" th:field="*{email}"><br>

        <div th:if="${isPost} and ${#fields.hasErrors('email')}" 
             th:errors="*{email}" class="error-msg"></div>

        <div th:if="${#fields.hasGlobalErrors()}" 
             th:each="err : ${#fields.globalErrors()}" 
             class="error-msg">
            <p th:text="${err}"></p>
        </div>

        <br>
        【PW】<br>
        <input type="password" th:field="*{passWord}"><br>
        <div th:if="${isPost} and ${#fields.hasErrors('passWord')}" 
             th:errors="*{passWord}" class="error-msg"></div>

        <br>
        <input type="submit" value="送信" class="btn">
    </form>

    <br>
    <a th:href="@{/top}">トップページに戻る</a>

</body>
</html>
