<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マイレシピ一覧</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>マイレシピ一覧</h2>

<div th:if="${recipeList != null and !recipeList.isEmpty()}">
    <table class="recipe-list">
    <tr><th colspan="2">編集・削除</th><th>料理名</th><th>キャッチフレーズ</th><th>カテゴリ</th></tr>
    <tr th:each="recipe : ${recipeList}">
           
		<td>
            <form th:action="@{/show-edit-form}" method="POST">
                <input type="hidden" name="recipeId" th:value="${recipe.recipeId}">
                <input type="submit" value="編集" class="tbtn">
             </form>
        </td>
        <td>
             <form th:action="@{/remove-recipe}" method="POST">
                 <input type="hidden" name="recipeId" th:value="${recipe.recipeId}">
                 <input type="submit" value="削除" class="tbtn">
                </form>
        </td>
        <td>
            <a th:href="@{/recipe-detail(recipeId=${recipe.recipeId})}"
                   th:text="${recipe.recipeName}"></a>
        </td>
            <td th:text="${recipe.catchPhrase}"></td>
            <td th:text="${recipe.categoryName}"></td>
        </tr>
    </table>
</div>

<div th:if="${recipeList == null or recipeList.isEmpty()}">
    <p>登録されたレシピはありません。</p>
</div>

<a th:href="@{/home}">ホームに戻る</a>

</body>
</html>
