<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>レシピ一覧</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>レシピ検索</h2>
<form th:action="@{/recipe-search}" method="POST" th:object="${recipeSearchForm}">
	【料理名】（部分一致）<br>
   	<input type="text" th:field="*{recipeName}"><br>
	<br>
   	<input type="submit" value="検索" class="btn">
</form>

<div th:if="${recipeList} != null">
	<h2>レシピ検索結果</h2>

	<table class="recipet-list">
		<tr>
<th>料理名</th><th>キャッチフレーズ</th><th>カテゴリ</th>
		</tr>
		<tr th:each="recipe : ${recipeList}">
			
			
			<td>
			      <a th:href="@{/recipe-detail(recipeId=${recipe.recipeId})}"
			         th:text="${recipe.recipeName}"></a>
			 </td>
			<td th:text="${recipe.catchPhrase}"></td>
			<td th:text="${recipe.categoryName}"></td>
		</tr>

	</table>

</div>
<a th:href="@{/home}">ホームに戻る</a>
</body>
</html>
