<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レビュー登録</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

	<h2>レビュー登録</h2>

    <form th:action="@{/regist-review}" method="POST" 
    		th:object="${registReviewForm}">
		【レシピ名】<br>
		<p th:text=" *{recipeName}"></p>
    	<input type="hidden" th:field="*{recipeId}">
    	<input type="hidden" th:field="*{recipeName}">
    	<div th:if="${#fields.hasErrors('recipeId')}" th:errors="*{recipeId}" class="error-msg"></div>
		<br>
    	【ユーザーネーム】<br>
    	<input type="text" th:field="*{userName}"><br>
    	<div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error-msg"></div>
		<br>
    	【投稿日】<br>
    	<input type="date" th:field="*{postDate}"><br>
    	<div th:if="${#fields.hasErrors('postDate')}" th:errors="*{postDate}" class="error-msg"></div>
		<br>
		【美味しさ】(1-5)<br>
		    	<select th:field="*{deliciousness}">
					<option value="0">選択してください。</option>
					<!-- 固定のオプション1-5 -->
					<option th:each="option : ${#numbers.sequence(1,5)}" 
						th:value="${option}"
						th:text="${option}"
						th:selected="${option == deliciousness}" >
					</option>
				</select><br>
		    	<div th:if="${#fields.hasErrors('deliciousness')}" th:errors="*{deliciousness}" class="error-msg"></div>
				<br>
		【簡単さ】(1-5)<br>
				<select th:field="*{difficulty}">
					<option value="0">選択してください。</option>
					<!-- 固定のオプション1-5 -->
					<option th:each="option : ${#numbers.sequence(1,5)}" 
						th:value="${option}"
						th:text="${option}"
						th:selected="${option == difficulty}" >
					</option>
				</select><br>
				<div th:if="${#fields.hasErrors('difficulty')}" th:errors="*{difficulty}" class="error-msg"></div>
				<br>		
		【時短】(1-5)<br>
				<select th:field="*{quickly}">
					<option value="0">選択してください。</option>
					<!-- 固定のオプション1-5 -->
					<option th:each="option : ${#numbers.sequence(1,5)}" 
						th:value="${option}"
						th:text="${option}"
						th:selected="${option == quickly}" >
					</option>
				</select><br>
				<div th:if="${#fields.hasErrors('quickly')}" th:errors="*{quickly}" class="error-msg"></div>
				<input type="submit" value="登録確認画面へ" class="btn">
				    </form>

					<br>
					<a th:href="@{/home}">ホームに戻る</a>

</body>
</html>
				